@model ChristiansWebPage.Models.AboutModel

@{
    ViewBag.Title = "About";
}

<h2>About Christian Levin</h2> 
<div>
    <p> 
        <h3>Jobb experience</h3>
        <div>Jobb 1</div>
        <div>Jobb 2</div>
        <div>Jobb 3</div>
    </p>

    <p>
        <h3>Education</h3>
        <div>School</div>
        <div>Millitary Service</div>
        <div>Univiersity</div>
    </p>

</div>