@{
<<<<<<< HEAD
    ViewBag.Title = "Guessing Game";
=======
    Layout = null;
>>>>>>> 96b7a0b34d5f44d5274d9ed6c132f139418f2bae
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
<<<<<<< HEAD
    
    <h2>Guess a number game</h2>
=======
>>>>>>> 96b7a0b34d5f44d5274d9ed6c132f139418f2bae
    <div>
        <p>Welcome to this guess a number game. The number you are looking for is between 0 and 100.</p>
        <p>If you guess a wrong number you will be notified if you guessed low or high compared to the number.</p>
        <p>Good Luck!!</p>
        <form method="post">
            what number are you guessing: <input type="text" name="GuessANumber" /> 
<<<<<<< HEAD
            <input type="submit" value="Guess" />

        </form>
        <p>@Session["Result"]</p>
    </div>
    <div>
        @if (Session["GuessedValues"] != null)
        {
            <ul>
                @foreach (var item in (List<int>)Session["GuessedValues"]){
                    <li> @item</li>
                }
               
            </ul>
        }

=======
            <input type="submit" value="Send" />

        </form>
        <p>@ViewBag.Result</p>
>>>>>>> 96b7a0b34d5f44d5274d9ed6c132f139418f2bae
    </div>
</body>
</html>
