
@{
    ViewBag.Title = "HealthCheck";
}

<h2>HealthCheck</h2>

<div>
    <p>In order to see if you are unwell we need to know what your temperature is:</p>
    <form >
        What temperature do you have: <input type="text" name="BodyTemperature" >
        
        <input type="submit" value="Submit" /> 
    </form>

</div>
<div>
    
          
  



</div>
