
@{
    ViewBag.Title = "Index";
}

<h2>This is a page about Christian Levin.</h2>

<text>Christians CV is specified in the about section.</text>
<text>Contact details is listed in the contacts section.</text>
<text>Christians codeprojects is listed in the projects section.</text>

