
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>
<a href="www.github.com/daladwyn/Calculator">CommandoPromt Calculator</a><br />
<a href="www.github.com/daladwyn/Golf">CommandoPromt Golf Game</a><br />
<a href="www.github.com/daladwyn/ArenaFighter">CommandoPromt ArenaFighter</a><br />
<a href="www.github.com/daladwyn/ChristiansWebPage">Christians Simple Homepage(This home page)</a><br />
<a href="www.github.com/daladwyn/Christians-bootstrap">Christians homepage with Bootstrap3</a><br />
<a href="www.github.com/daladwyn/christians-sokuban">Christians Sokuban Game</a><br />
<a href="www.github.com/daladwyn/vendingMachine">CommandoPromt VendingMachine</a><br />
<p>Christian have dabbled in other programming languages aswell including: Assembler, (Turbo)Pascal, C, C++, and PLC.</p>
