
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>
<a href="www.github.com/daladwyn/Consolegolf">CommandoPromt Calculator</a><br />
<a href="www.github.com/daladwyn/Consolegolf">CommandoPromt Golf Game</a><br />
<a href="www.github.com/daladwyn/ArenaFighter">CommandoPromt ArenaFighter</a><br />
<a href="www.github.com/daladwyn/Consolegolf">Christians Simple Homepage</a><br />
<a href="www.github.com/daladwyn/Consolegolf">Christians homepage with Bootstrap</a><br />
<a href="www.github.com/daladwyn/christians-sokuban">Christians Sokuban Game</a><br />
<p>Christian have dabbled in other programming languages aswell including: Assembler, (Turbo)Pascal, C, C++, and PLC.</p>
